.App {
  text-align: center;
  padding: 200px;
}

button{
  padding: 10px 15px;
  background-color: #61dafb;
  border: 2px solid grey;
  border-radius: 5px;
  font-weight: bold;
  font-size: large;
  color : grey;
}
